:root {
    --white: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Slate-300);
    font-family: 'Outfit', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 1.2rem;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image-cotainer img {
    width: 100%;
    border-radius: 10px;
}

.text-container {
    margin: 1rem;
    text-align: center;
}

.text-container h2 {
    margin-bottom: 1rem;
    color: var(--Slate-900);
}

.text-container p {
    color: var(--Slate-500);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}