:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding-block: 1.5rem;
    background-color: var(--slate-300);
    font-family: 'Outfit', sans-serif;
}

.container {
    max-width: 320px;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}

.text-container {
    margin: 1.25rem 1rem;
    text-align: center;
}

.text-container h1 {
    margin-bottom: .95rem;
    color: var(--slate-900);
    font-size: 1.37rem;
    font-weight: 700;
}

.text-container p {
    color: var(--slate-500);
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.4;
}
